<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <title>Advanced Seminar</title>
</head>
<body>
    <h1>NPV Calculator</h1>
    
    <form method="post">
        <!-- Input fields -->
        <label for="project_lifetime">Project Lifetime (years):</label>
        <input type="number" id="project_lifetime" name="project_lifetime" value="{{ inputs.project_lifetime }}" placeholder="Project Lifetime (years)" required>

        <label for="discount_rate">Discount Rate (%):</label>
        <input type="number" step="0.1" id="discount_rate" name="discount_rate" value="{{ inputs.discount_rate }}" placeholder="Discount Rate (%)" required>

        <label for="capex">CAPEX (USD):</label>
        <input type="number" step="0.1" id="capex" name="capex" value="{{ inputs.capex }}" placeholder="CAPEX (USD)" required>

        <label for="opex">OPEX (USD):</label>
        <input type="number" step="0.1" id="opex" name="opex" value="{{ inputs.opex }}" placeholder="OPEX (USD)" required>

        <label for="latitude">Latitude:</label>
        <input type="number" step="0.000001" id="latitude" name="latitude" value="{{ inputs.latitude }}" placeholder="Latitude" required>

        <label for="longitude">Longitude:</label>
        <input type="number" step="0.000001" id="longitude" name="longitude" value="{{ inputs.longitude }}" placeholder="Longitude" required>

        <label for="prod_decline">Solar Plant Production Decline:</label>
        <input type="number" step="0.1" id="prod_decline" name="prod_decline" value="{{ inputs.prod_decline }}" placeholder="Production Decline">
        
        <label for="installed_cap">Solar Plant Installed Capacity (MW):</label>
        <input type="number" step="0.1" id="installed_cap" name="installed_cap" value="{{ inputs.installed_cap }}" placeholder="Installed Capacity" required>

        <label for="h2_efficiency">H2 Efficiency (%):</label>
        <input type="number" step="1" id="h2_efficiency" name="h2_efficiency" value="{{ inputs.h2_efficiency }}" placeholder="H2 Efficiency (%)" required>

        <label for="h2_price">H2 Price (USD/kg):</label>
        <input type="number" step="0.1" id="h2_price" name="h2_price" value="{{ inputs.h2_price }}" placeholder="H2 Price (USD/kg)" required>

        <button type="submit">Calculate</button>
    </form>

    {% if npv is not none %}
    <div class="results">
        <div>
            <h3>Summary</h3>
            <p><strong>Produced Energy:</strong> {{ energy_output2 | format_number }} MWh/year</p>
            <p><strong>Estimated Cap. Factor:</strong> {{ cap_factor | format_number }} </p>
            <p><strong>Total H2 Production:</strong> {{ total_h2_production | format_number }} kg/year</p>
            <p><strong>Annual Revenue:</strong> {{ annual_revenue | format_number }} USD</p>
            <p><strong>NPV:</strong> {{ npv | format_number }} USD</p>
            
        </div>
        <div>
            <h3>NPV Graph</h3>
            <img 
            src="{{ url_for('npv_graph', **{
                'project_lifetime': inputs.project_lifetime,
                'discount_rate': inputs.discount_rate,
                'capex': inputs.capex,
                'opex': inputs.opex,
                'h2_efficiency': inputs.h2_efficiency,
                'h2_price': inputs.h2_price,
                'installed_cap': inputs.installed_cap
            }) }}"
            alt="NPV Graph">
        </div>
        <div>
            <h2>Average Daily Global Horizontal Irradiance</h2>
            <svg width="600" height="300"></svg>
            <div class="tooltip"></div>
            <script src="{{ url_for('static', filename='charts.js') }}"></script>
            <script>draw_ghi()</script>

        </div>
    </div>

    <h3>Cash Flows</h3>
    <table>
        <tr>
            <th>Year</th>
            <th>Cash Flow</th>
            <th>Discounted Cash Flow</th>
            <th>Cumulated NPV</th>
        </tr>
        {% for year, cash_flow, discounted_cf, cum_npv in cash_flow_table %}
        <tr>
            <td>{{ year }}</td>
            <td>{{ cash_flow | round(2) | format_number }}</td>
            <td>{{ discounted_cf | round(2) | format_number }}</td>
            <td>{{ cum_npv | round(2) | format_number }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td><strong>Total</strong></td>
            <td><strong>{{ total_cash_flow | format_number }}</strong></td>
            <td><strong>{{ total_discounted_cash_flow | format_number }}</strong></td>
            <td><strong>{{ total_cum_npv | format_number }}</strong></td>
        </tr>
    </table>
    {% endif %}
</body>
</html>
